<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>ATA Control</title>
    <link rel="icon" th:href="@{../assets/img/favicon.ico}" type="image/png">

    <!-- CSS dependencies -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="nucleo-icons.css" rel="stylesheet" th:href="@{/assets/argon/assets/css/nucleo-icons.css}">
    <!-- Font Awesome Icons -->
    <link href="font-awesome.css" rel="stylesheet" th:href="@{/assets/argon/assets/css/font-awesome.css}">
    <link href="nucleo-svg.css" rel="stylesheet" th:href="@{/assets/argon/assets/css/nucleo-svg.css}">
    <!-- CSS Files -->
    <link href="argon-design-system.mim.css" rel="stylesheet"
          th:href="@{/assets/argon/assets/css/argon-design-system.min.css}">
    <link href="argon-design-system.mim.css" rel="stylesheet"
          th:href="@{/assets/argon/assets/css/background.css}">


</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-darker">
        <div class="container">
            <a class="custom-logo-link" rel="home" th:href="@{/home}">
                <img
                        alt="Ata-Control"
                        class="custom-logo"
                        height="50"
                        img
                        sizes="(max-width: 155px) 100vw, 200px" th:src="@{../assets/img/logo-ata.png}"
                        width="100">
            </a>
            <button aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbar-default" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-default">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-close">
                            <button aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"
                                    class="navbar-toggler" data-target="#navbar-default" data-toggle="collapse"
                                    type="button">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!--<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title h3 text-dark font-weight-bold mb-4" id="exampleModalLabel">ATA CONTROL
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form role="form" th:action="@{/login}" th:method="post">
                                    <p class="error" th:if="${param.error}">Email ou senha incorreto(a)</p>
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" id="username" name="username"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group focused">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" id="password" name="password"
                                                   placeholder="Password"
                                                   type="password">
                                        </div>
                                    </div>
&lt;!&ndash;                                    <div class="custom-control custom-control-alternative custom-checkbox">&ndash;&gt;
&lt;!&ndash;                                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox">&ndash;&gt;
&lt;!&ndash;                                        <label class="custom-control-label"&ndash;&gt;
&lt;!&ndash;                                               for=" customCheckLogin"><span>Remember me</span></label>&ndash;&gt;
&lt;!&ndash;                                    </div>&ndash;&gt;
                                    <div class="text-center">
                                        <button class="btn btn-lg btn-github btn-icon my-4" type="submit">Iniciar
                                            Sessão
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>-->

                <ul class="navbar-nav flex-row mr-auto ml-4 d-none d-md-flex">
                    <li class="nav-item">
                        <a class="navbar-brand font-weight-bold" th:href="@{/home}">home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav" th:if="${usuario != null}">
                    <div class="dropdown">
                        <div class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                             id="navbar-primary_dropdown_1" role="button">
                            <span><b th:if="${usuario.pessoa != null}" th:text="${usuario.pessoa.nome + ' ' + usuario.pessoa.sobrenome}"></b></span>
                            <span><b th:if="${usuario.planilheiro != null}" th:text="Planilheiro"></b></span>
                        </div>
                        <div class="dropdown-menu">

                            <div th:if="${usuario.userRole == ROLE_ADMIN}">

                                <a class="dropdown-item" href="javascript:" th:href="@{/perfil}">
                                    <i class="ni ni-single-02"></i>
                                    <span>Menu</span>
                                </a>

                            </div>
                            <div th:if="${usuario.userRole == ROLE_USER}">

                                <a class="dropdown-item" th:href="@{/register/competidor}">
                                    <i class="ni ni-user-run"></i>
                                    <span>Competir</span>
                                </a>
                                <a class="dropdown-item" th:href="@{/register/juiz}">
                                    <i class="ni ni-badge"></i>
                                    <span>Ser Juiz</span>
                                </a>
                                <a class="dropdown-item" th:href="@{/ajustar/pessoa}">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Conta</span>
                                </a>

                                <a th:if="${usuario.pessoa.isInstrutor == true}" class="dropdown-item" th:href="@{/ajustar/alunos}">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Alunos</span>
                                </a>

                            </div>

                            <div th:if="${usuario.userRole == ROLE_PLANILHA}">
                                <a class="dropdown-item" th:href="@{/planilha}">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Planilha</span>
                                </a>
                                <a class="dropdown-item" th:href="@{/placar}">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Placar</span>
                                </a>

                            </div>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:" th:href="@{/logout}">
                                <i class="ni ni-button-power"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </ul>
                </ul>
                <ul class="navbar-nav" th:if="${usuario == null}">
                    <!--<li class="nav-item shadow-sm" style="	box-shadow: 0px 0px 4px  black;">
                        <a class="nav-link" th:href="@{/register/pessoa}">
                            <i class="fa fa-user fa-fw"></i>Inscreva-se</a>
                    </li>-->
                    <li class="nav-item shadow-sm" style="	box-shadow: 0px 0px 4px  black;">
                        <!--a class="nav-link"  data-toggle="modal" data-target="#exampleModal"
                           th:href="@{/login}">

                            <i class="fa fa-user fa-fw"></i>Fazer Login</a>-->
                        <!--a th:href="@{/login}" data-toggle="modal" data-target="#exampleModal" class="btn btn-lg btn-white btn-icon">
                            <span class="btn-inner&#45;&#45;text">INICIAR SESSÃO</span>
                        </a>-->
                        <a class="btn btn-white btn-icon"
                           th:href="@{/login}">
                            <span class="btn-inner--icon"><i class="fa fa-user fa-fw"></i></span>
                            <span class="btn-inner--text">INICIAR SESSÃO</span>
                        </a>


                    </li>
                </ul>


            </div>
        </div>
    </nav>
</header>

<main role="main">
    <div layout:fragment="corpo">
        <div>conteudo principal das páginas</div>
    </div>

</main>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>-->

<!--<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--<script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"-->
<!--        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
<!--<script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"-->
<!--        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

<!--   Core JS Files   -->
<script th:src="@{/assets/argon/assets/js/core/jquery.min.js}"></script>
<script th:src="@{/assets/argon/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/argon/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets/argon/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script th:src="@{/assets/argon/assets/js/plugins/bootstrap-switch.js}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{/assets/argon/assets/js/plugins/nouislider.min.js}"></script>
<script th:src="@{/assets/argon/assets/js/plugins/moment.min.js}"></script>
<script th:src="@{/assets/argon/assets/js/plugins/datetimepicker.js}"></script>
<script th:src="@{/assets/argon/assets/js/plugins/bootstrap-datepicker.min.js}"></script>
<!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
<!--  Google Maps Plugin    -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
<script th:src="@{/assets/argon/assets/js/argon-design-system.js}"></script>
<script th:src="@{/assets/argon/assets/js/argon-design-system.min.js}"></script>

<th:block layout:fragment="script"></th:block>

</body>

</html>