.img2 {
    max-width: 100%;
    max-heigth: 100%;
    background-image: url(../../../img/Mestres-ATA-Brasil.jpg);
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;"
}