<!DOCTYPE html>
<html layout:decorate="~{styleguide}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css" rel="stylesheet">
</head>
<body>

<div class="corpo" layout:fragment="corpo">

    <form action="#" id="form-register-academia">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" id="nome" placeholder="Stephen" required="required"
                   type="text">
        </div>

        <div class="form-group" id="endereco_div">
            <label>Endereco</label>
            <select class="form-control" disabled id="pais" name="pais" required="required" selected>
                <option value="">Selecione</option>
                <option th:each="p : ${paises}" th:text="${p.nome}" th:value="${p.id}">...
                </option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

</div>

<script th:fragment="js" th:src="@{/js/academia_register.js}"></script>
<script th:fragment="js" th:src="@{/js/endereco_form.js}"></script>

</body>
</html>