<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>

<div class="corpo" layout:fragment="corpo">

    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6">
                <h1>Cadastrar Academia</h1>
                <p class="mb-3" style=""></p>

                <form action="#" id="form-register-academia">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" id="nome" placeholder="ATA" required type="text">
                    </div>

                    <div class="form-group" id="endereco_div">
                        <label>Endereço</label>
                        <select class="form-control" id="pais" name="pais" required>
                            <option value="">Selecione</option>
                            <option th:each="p : ${paises}" th:text="${p.nome}" th:value="${p.id}">...
                            </option>
                        </select>
                    </div>

                    <button class="btn btn-primary" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/academia_register.js}"></script>
    <script th:src="@{/js/endereco_form.js}"></script>
</th:block>

</body>
</html>