<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>
</head>

<body>

<div class="corpo" layout:fragment="corpo">

    <div class="wrapper">
        <section class="section section-shaped section-lg">
            <div class="shape shape-style-1 bg-gradient-darker">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-lg-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header">
                                <div class="text-center">
                                    <h4 class="card-title mt-3 text-center">Editar Perfil</h4>
                                    <p class="text-center">Editar informações da conta</p>
                                </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5">

                                <form action="#" class="text-left" id="form-ajustar-pessoa">

                                    <input hidden id="id_pessoa" name="id_pessoa" th:value="${usuario.pessoa.id}" type="number">
                                    <input hidden id="status" name="status" th:value="${usuario.pessoa.status}" type="number">

                                    <input hidden id="id_usuario" name="id_usuario" th:value="${usuario.id}" type="number">

                                    <div class="form-group">
                                        <label for="email">Usuario</label>
                                        <input class="form-control" id="email"
                                               required th:value="${usuario.email}" type="text">
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="senha">Senha</label>
                                            <input class="form-control" id="senha" placeholder="••••" required type="password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input class="form-control" id="nome" required th:value="${usuario.pessoa.nome}"
                                               type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="sobrenome">Sobrenome</label>
                                        <input class="form-control" id="sobrenome" required
                                               th:value="${usuario.pessoa.sobrenome}" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="telefone">Telefone para contato</label>
                                        <input class="form-control" id="telefone" required th:value="${usuario.pessoa.telefone}"
                                               type="text">
                                    </div>

                                    <div class="form-group">
                                        <label>Genero: </label></br>
                                        <div class="form-check form-check-inline">
                                            <input checked class="form-check-input" id="inlineRadio1"
                                                   name="genero" type="radio" value="true">
                                            <label class="form-check-label" for="inlineRadio1" id="label-genero-M">Masculino</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="inlineRadio2" name="genero"
                                                   type="radio" value="false">
                                            <label class="form-check-label" for="inlineRadio2" id="label-genero-F">Feminino</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>É Instrutor? </label></br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="inlineRadio1 isInstrutor_T" name="isInstrutor"
                                                   onclick="hideInstrutor()" type="radio" value="true">
                                            <label class="form-check-label" for="inlineRadio1 isInstrutor_T" id="label-instrutor-T">Sim</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input checked class="form-check-input" id="inlineRadio2 isInstrutor_F"
                                                   name="isInstrutor" onclick="hideInstrutor()" type="radio" value="false">
                                            <label class="form-check-label" for="inlineRadio2 isInstrutor_F" id="label-instrutor-F">Não</label>
                                        </div>
                                    </div>

                                    <div class="form-group" id="instrutor_div">
                                        <label for="instrutor">Instrutor</label>
                                        <select class="form-control" id="instrutor" name="instrutor" required>
                                            <option disabled selected value="">Selecione</option>
                                            <option th:each="i : ${instrutores}"
                                                    th:text="${i.pessoa.nome + ' ' +i.pessoa.sobrenome}" th:value="${i.id}">...
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group" hidden id="ataNumber_div">
                                        <label for="ataNumberWorld">ATA Number World</label>
                                        <input class="form-control" id="ataNumberWorld" required
                                               th:value="${usuario.pessoa.ataNumberWorld}"
                                               type="text">
                                        <label for="ataNumberBrasil">ATA Number Brasil</label>
                                        <input class="form-control" id="ataNumberBrasil" required
                                               th:value="${usuario.pessoa.ataNumberBrasil}"
                                               type="text">
                                    </div>

                                    <div class="form-group" hidden id="academia_div">
                                        <label for="academia">Academias</label>
                                        <select class="form-control" id="academia" name="academia" required>
                                            <option disabled selected value="">Selecione</option>
                                            <option th:each="a : ${academias}" th:text="${a.nome}" th:value="${a.id}">...
                                            </option>
                                        </select>
                                        <a class="nav-link" th:href="@{/academia}">Se a sua academia não aparecer na lista
                                            clique aqui</a>
                                    </div>

                                    <div class="form-group">
                                        <label for="faixa">Faixa</label>
                                        <select class="form-control" id="faixa" name="faixa" required>
                                            <option disabled selected value="">Selecione</option>
                                            <option th:each="f : ${faixas}" th:text="${f.nome}" th:value="${f.id}">...</option>
                                        </select>
                                    </div>

                                    <div class="form-group" id="endereco_div">
                                        <label>Endereço</label>
                                        <select class="form-control" id="pais" name="pais" required>
                                            <option disabled selected value="">Selecione</option>
                                            <option th:each="p : ${paises}" th:text="${p.nome}" th:value="${p.id}">...
                                            </option>
                                        </select>
                                    </div>

                                    <button class="btn btn-primary" type="submit">Ajustar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row row-grid align-items-center mb-5">
                <div class="col-lg-6">
                    <h3 class="text-primary font-weight-light mb-2">Faça parte do ATA!</h3>
                    <p class="mb-0 font-weight-light">ATA Martial Arts tem os programas necessários para que criançase e adultos. Faça parte do treinamento de mais de 130.000 membros ativos, competindo em torneios e seminários ao redor do mundo.</p>
                </div>
                <div class="col-lg-6 text-lg-center btn-wrapper">
                    <button target="_blank" href="https://twitter.com/" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                        <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
                    </button>
                    <button target="_blank" href="https://www.facebook.com/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
                        <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                    </button>
                    <button target="_blank" href="https://dribbble.com/" rel="nofollow" class="btn btn-icon-only btn-dribbble rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                        <span class="btn-inner--icon"><i class="fa fa-dribbble"></i></span>
                    </button>
                    <button target="_blank" href="https://github.com/" rel="nofollow" class="btn btn-icon-only btn-github rounded-circle" data-toggle="tooltip" data-original-title="Star on Github">
                        <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                    </button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center justify-content-md-between">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; 2020 <a href="" target="_blank">ATA CONTROL</a>.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-footer justify-content-end">
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">ATA CONTROL</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/endereco_form.js}"></script>
    <script th:src="@{/js/pessoa_ajuste.js}"></script>
</th:block>

</body>

</html>