<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>
</head>
<body>
<div class="corpo" layout:fragment="corpo">

    <div class="container">

        <div class="form-group">
            <label for="torneio">Torneio</label>
            <select class="form-control" id="torneio" name="instrutor" required>
                <option disabled selected value="">Selecione</option>
                <option th:each="t : ${torneios}"
                        th:text="${'Data inicio: ' + t.dataInicio + ' -/- Categoria: ' +t.categoriaTorneio.nome}"
                        th:value="${t.id}">...
                </option>
            </select>
        </div>

        <div id="rodada">
            <select hidden id="rodada_select" name="rodada_select"></select>
        </div>

        <div id="cadastros">

        </div>

        <button class="btn btn-primary" id="submit">Registrar</button>

    </div>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/cadastro_ringues.js}"></script>
</th:block>

</body>
</html>