<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>
</head>

<body>

<div class="corpo" layout:fragment="corpo">

    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-6 col-10">
                    <h1>Crie sua conta</h1>
                    <p class="mb-3" style=""></p>

                    <form action="#" class="text-left" id="form-register-competidor">

                        <input hidden id="pessoa_id" th:value="${usuario.pessoa.id}">

                        <div class="form-group">
                            <label for="peso">Peso</label>
                            <input class="form-control" id="peso" placeholder="76"
                                   required type="number">
                        </div>

                        <div class="form-group">
                            <label for="altura">Altura em centimetros</label>
                            <input class="form-control" id="altura" placeholder="160"
                                   required type="number">
                        </div>

                        <div class="form-group">
                            <label for="torneio">Torneio</label>
                            <select class="form-control" id="torneio" name="instrutor">
                                <option disabled selected value="">Selecione</option>
                                <option th:each="t : ${torneios}"
                                        th:text="${'Data inicio: ' + t.dataInicio + ' -/- Categoria: ' +t.categoriaTorneio.nome}"
                                        th:value="${t.id}">...
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="quantidade-categorias">Quantas categorias vai participar</label>
                            <input class="form-control" id="quantidade-categorias" name="quantidade-categorias"
                                   placeholder="2" required type="number">
                        </div>

                        <div class="form-group" id="categorias_select_div">

                        </div>

                        <button class="btn btn-primary" type="submit">Register</button>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<script th:fragment="js" th:src="@{/js/competidor_register.js}"></script>

</body>

</html>