<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body class="bg-gradient-white">

<div class="corpo" layout:fragment="corpo">

    <div class="py-5"
         style=" background-image: url(../assets/img/img4.jpg); background-size: 100%;	background-position: top left;	background-repeat: no-repeat;">
        <div class="py-5">
            <div class="py-5">
                <div class="d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="mx-auto text-center col-md-9">
                                <p class="lead text-white">Lead paragraph -&nbsp;Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5" style="">
        <div class="container">
            <div class="row">
                <div class="p-4 col-lg-8">
                    <h4 class="mb-3">Heading 4</h4>
                    <div class="blockquote text-muted">
                        <p class="mb-0">Blockquoute -&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        <div class="blockquote-footer text-white" >Someone famous in My memories</div>
                    </div>
                    <a class="btn btn-info" href="#">Button </a>
                </div>
                <div class="col-md-4 align-self-center">
                    <img class="img-fluid d-block" th:src="@{../assets/img/estrela-sohngan.png}"></div>
            </div>
        </div>
    </div>

    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-12">
                    <h1 class="mb-3">Mestres<br></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6 p-4"><img alt="Card image cap"
                                                     class="img-fluid d-block mb-3 mx-auto rounded-circle"
                                                     src="../assets/img/estrela-sohngan.png"
                                                     width="100">
                    <h4><b>Johann</b></h4>
                    <p>CEO and founder</p>
                    <p class="mb-0"><i>"I throw myself down among the tall grass by the trickling"</i></p>
                </div>
                <div class="col-lg-3 col-6 p-4"><img alt="Card image cap"
                                                     class="img-fluid d-block mb-3 mx-auto rounded-circle"
                                                     src="../assets/img/estrela-sohngan.png"
                                                     width="100">
                    <h4><b>Gregory</b></h4>
                    <p>Co-founder</p>
                    <p class="mb-0"><i>"As I lie close to the earth, a thousand unknown plants"</i></p>
                </div>
                <div class="col-lg-3 col-6 p-4"><img class="img-fluid d-block mb-3 mx-auto rounded-circle"
                                                     src="../assets/img/estrela-sohngan.png"
                                                     width="100">
                    <h4><b>James</b></h4>
                    <p>CFO</p>
                    <p class="mb-0"><i>"Then, my friend, when darkness overspreads my eyes"</i></p>
                </div>
                <div class="col-lg-3 col-6 p-4"><img class="img-fluid d-block mb-3 mx-auto rounded-circle"
                                                     src="../assets/img/estrela-sohngan.png"
                                                     width="100">
                    <h4><b>Amadeus</b></h4>
                    <p>CTO</p>
                    <p class="mb-0"><i>"Heaven and earth seem to dwell in my soul"</i></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>