<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>
</head>
<body>
<div class="corpo" layout:fragment="corpo">
    <div class="container">
        <div th:if="${usuario.userRole == userRole_enum.ROLE_ADMIN}">
            <p><a th:href="@{/criar/torneio}">Criar torneio</a></p>
            <p><a th:href="@{/criar/categoria}">Criar categoria</a></p>
            <p><a th:href="@{/cadastrar/ringues}">Cadastrar Ringues</a></p>
            <p><a th:href="@{/relatorio/cadastros}">Listar pessoas cadastradas</a></p>
            <p><a th:href="@{/relatorio/torneio}">Listar ringues cadastrados</a></p>
        </div>
        <div th:if="${usuario.userRole != userRole_enum.ROLE_ADMIN}">
            <p><a th:href="@{/register/competidor}">Registro para competidor</a></p>
            <p><a th:href="@{/register/juiz}">Registro para juiz</a></p>
            <!--        <p th:if="${usuario.pessoa.isInstrutor == true}"><a th:href="@{/alunos}">Informacoes dos alunos</a></p>-->
            <p><a th:href="@{/ajustar}">Editar conta</a></p>
        </div>
    </div>
</div>
</body>
</html>