<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>
    <link href="argon-design-system.mim.css" rel="stylesheet"
          th:href="@{/assets/argon/assets/css/style.css}">

</head>
<body>

<div class="corpo" layout:fragment="corpo">
    <div class="wrapper">
        <section class="section-profile-cover section-shaped my-0">
            <div class="overlay2">
                <div class=" img2">
                    <div class="section section-hero">
                        <div class="page-header notdarken">
                            <div class="container shape-container d-flex align-items-center py-lg">
                                <div class="col px-0">
                                    <div class="row align-items-center justify-content-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>

        <section class="section bg-secondary">
            <div class="container">
                <div class="card card-profile shadow mt--300">
                    <div class="px-4">
                        <div class="row justify-content-center">
                            <div class="text-center mt-5">
                                <h3>MENU<span class="font-weight-light"></span></h3>
                                <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>ATA MARTIAL ARTS</div>
                                <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>FOZ DO IGUAÇU, PARANÁ</div>
                                <div><i class="ni education_hat mr-2"></i>Área de cadastro para torneios.</div>
                            </div>
                            <div class="mt-5 py-5 border-top text-center">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aulpa qui officia deserunt mollit anim id est laborum.</p>-->
                                        <a href="#" class="btn btn-sm btn-info mr-4" th:href="@{/iniciar/torneio}">INICIAR TORNEIO</a>
                                        <a href="#" class="btn btn-sm btn-darker mr-4" th:href="@{/terminar/torneio}">TERMINAR TORNEIO</a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-wrapper">
                                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-success" th:href="@{/criar/torneio}" ><i class="ni ni-trophy mr-2"></i>Criar Torneio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-success" th:href="@{/criar/categoria}" ><i class="ni ni-trophy mr-2"></i>Criar Categoria</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-success" th:href="@{/cadastrar/ringues}" ><i class="ni ni-trophy mr-2"></i>Criar Ringue</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-success" th:href="@{/relatorio/cadastros}" ><i class="ni ni-trophy mr-2"></i>Cadastros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-success" th:href="@{/relatorio/torneio}" ><i class="ni ni-trophy mr-2"></i>Relatorio Torneio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-success" th:href="@{/relatorio/ranking/individual}" ><i class="ni ni-trophy mr-2"></i>Relatorio Ranking</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active btn-info" th:href="@{/novo/administrador}" ><i class="ni ni-trophy mr-2"></i>Alterar o Administrador</a>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class="card shadow">
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                            <p class="description">O primeiro passo é registrar no banco de dados as informações do torneio</p>
                                            <p class="description"></p>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                            <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                            <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                                            <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">
                                            <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                                <div class="card-profile-actions py-4 mt-lg-0">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row row-grid align-items-center mb-5">
                    <div class="col-lg-6">
                        <h3 class="text-primary font-weight-light mb-2">Faça parte do ATA!</h3>
                        <p class="mb-0 font-weight-light">ATA Martial Arts tem os programas necessários para que criançase e adultos. Faça parte do treinamento de mais de 130.000 membros ativos, competindo em torneios e seminários ao redor do mundo.</p>
                    </div>
                    <div class="col-lg-6 text-lg-center btn-wrapper">
                        <button target="_blank" href="https://twitter.com/" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                            <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
                        </button>
                        <button target="_blank" href="https://www.facebook.com/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
                            <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                        </button>
                        <button target="_blank" href="https://dribbble.com/" rel="nofollow" class="btn btn-icon-only btn-dribbble rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                            <span class="btn-inner--icon"><i class="fa fa-dribbble"></i></span>
                        </button>
                        <button target="_blank" href="https://github.com/" rel="nofollow" class="btn btn-icon-only btn-github rounded-circle" data-toggle="tooltip" data-original-title="Star on Github">
                            <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center justify-content-md-between">
                    <div class="col-md-6">
                        <div class="copyright">
                            &copy; 2020 <a href="" target="_blank">ATA CONTROL</a>.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav nav-footer justify-content-end">
                            <li class="nav-item">
                                <a href="" class="nav-link" target="_blank">ATA CONTROL</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" target="_blank">License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>
</body>
</html>