<html layout:decorate="~{styleguide}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="corpo" layout:fragment="corpo">
    Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form method="POST" th:action="@{/appLogout}">
        <input type="submit" value="Logout"/>
    </form>
    <table>
        <tr th:each="pessoa : ${pessoas}">
            <td th:text="${pessoa.id}">Id</td>
            <td th:text="${pessoa.nome + ' ' +pessoa.sobrenome}">Name</td>
        </tr>
    </table>
</div>
</body>
</html>