<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>

<div class="corpo" layout:fragment="corpo">

    <div>
        <p>lista</p>
        <table>
            <tr>
                <th>Nome</th>
                <th>Juiz A</th>
                <th>Juiz C</th>
                <th>juiz B</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>Nome</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>15</td>
            </tr>
        </table>
    </div>

    <div>
        <p>chaves</p>
        <table>
            <tr>
                <th>Nome</th>
                <th>Pontos</th>
                <th>Advertencias</th>
                <th>Penalidades</th>
                <th>Cronometro</th>
                <th>Nome</th>
                <th>Pontos</th>
                <th>Advertencias</th>
                <th>Penalidades</th>
            </tr>
            <tr>
                <td>Nome</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>00:00</td>
                <td>Nome2</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>