<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>

<div class="corpo" layout:fragment="corpo">



    <table class="table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Nome</th>
            <th>Juiz A</th>
            <th>Juiz B</th>
            <th>Juiz C</th>
            <th class="text-right">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>Andrew Mike</td>
            <td>5</td>
            <td>2</td>
            <td>4</td>
            <td class="text-right">&euro; 99,225</td>
            </td>
        </tr>
        <tr>
            <td class="text-center">1</td>
            <td>Andrew Mike</td>
            <td>9</td>
            <td>4</td>
            <td>4</td>
            <td class="text-right">&euro; 99,225</td>
            </td>
        </tr>
        <tr>
            <td class="text-center">1</td>
            <td>Andrew Mike</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td class="text-right">&euro; 99,225</td>
            </td>
        </tr>
        </tbody>
    </table>

















</div>

</body>
</html>