<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<div class="corpo" layout:fragment="corpo">

    <div class="wrapper">
        <section class="section section-shaped section-lg">
            <div class="shape shape-style-1 bg-gradient-darker">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-lg-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">

                                <div class="card-header pb-5">
                                    <div class="progress">
                                        <div class="progress-bar w-65" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">|</div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <h2 class="h3 text-dark font-weight-bold mb-4">Criar Categorias</h2>
                                </div>

                                <form action="#" class="text-left" id="form-register-pessoa">

                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input class="form-control" id="nome" placeholder="Formula" required type="text">
                                    </div>

                                    <div class="form-group">
                                        <label>Chaveamento: </label></br>
                                        <div class="form-check form-check-inline">
                                            <input checked class="form-check-input" id="tipo-chave-T"
                                                   name="chaves" onclick="hideChaveInfo()" required type="radio" value="true">
                                            <label class="form-check-label" for="tipo-chave-T">Sim</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="tipo-chave-F" name="chaves"
                                                   onclick="hideChaveInfo()" required type="radio" value="false">
                                            <label class="form-check-label" for="tipo-chave-F">Nao</label>
                                        </div>
                                    </div>

                                    <div class="form-group" hidden>
                                        <label>Time: </label></br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="inlineRadio1 isInstrutor_T" name="time"
                                                   type="radio" value="true">
                                            <label class="form-check-label" for="inlineRadio1 isInstrutor_T"
                                                   id="tipo-time-T">Sim</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input checked class="form-check-input" id="inlineRadio2 isInstrutor_F"
                                                   name="time" type="radio" value="false">
                                            <label class="form-check-label" for="inlineRadio2 isInstrutor_F"
                                                   id="tipo-time-F">Não</label>
                                        </div>
                                    </div>

                                    <div class="form-group" id="tempo_div">
                                        <label>Limite de tempo:</label>
                                        <input class="form-control" id="tempo" name="tempo" required type="number" value="0">
                                    </div>

                                    <div class="form-group" id="ponto_div">
                                        <label>Limite de pontos:</label>
                                        <input class="form-control" id="ponto" name="ponto" required type="number" value="0">
                                    </div>

                                    <div hidden id="info_time">
                                        <label>Limite de participantes:</label>
                                        <input class="form-control" id="maxParticipantes" name="ponto" required type="number"
                                               value="0">

                                        <label>Minimo de participantes masculinos:</label>
                                        <input class="form-control" id="mimMasc" name="ponto" required type="number" value="0">

                                        <label>Minimo de participantes femininos:</label>
                                        <input class="form-control" id="mimFem" name="ponto" required type="number" value="0">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg btn-github btn-icon my-4">Registrar</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row row-grid align-items-center mb-5">
                <div class="col-lg-6">
                    <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
                    <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
                </div>
                <div class="col-lg-6 text-lg-center btn-wrapper">
                    <button target="_blank" href="https://twitter.com/creativetim" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                        <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
                    </button>
                    <button target="_blank" href="https://www.facebook.com/CreativeTim/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
                        <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                    </button>
                    <button target="_blank" href="https://dribbble.com/creativetim" rel="nofollow" class="btn btn-icon-only btn-dribbble rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                        <span class="btn-inner--icon"><i class="fa fa-dribbble"></i></span>
                    </button>
                    <button target="_blank" href="https://github.com/creativetimofficial" rel="nofollow" class="btn btn-icon-only btn-github rounded-circle" data-toggle="tooltip" data-original-title="Star on Github">
                        <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                    </button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center justify-content-md-between">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; 2020 <a href="" target="_blank">Creative Tim</a>.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-footer justify-content-end">
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/categoria_register.js}"></script>
</th:block>

</body>

</html>