<!DOCTYPE html>
<html layout:decorate="~{styleguide}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css" rel="stylesheet">
</head>

<body>

<div class="corpo" layout:fragment="corpo">

    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-6 col-10">
                    <h1>Crie sua conta</h1>
                    <p class="mb-3" style=""></p>

                    <form action="#" class="text-left" id="form-register-pessoa">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input class="form-control" id="nome" placeholder="Stephen" required="required"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <label for="sobrenome">Sobrenome</label>
                            <input class="form-control" id="sobrenome" placeholder="Edwin King"
                                   required="required"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <label>Genero: </label></br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions genero" id="inlineRadio1" value="option1">
                                <label class="form-check-label" id="label-genero-M" for="inlineRadio1">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions genero" id="inlineRadio2" value="option2">
                                <label class="form-check-label" id="label-genero-F" for="inlineRadio2">Feminino</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" placeholder="stephen.king@gmail.com"
                                   required="required"
                                   type="email">
                        </div>

                        <div class="form-group">
                            <label for="">Instrutor: </label></br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions isInstrutor" onclick="hideInstrutor()" id="inlineRadio1 isInstrutor_t" value="true">
                                <label class="form-check-label" id="label-genero-M" for="inlineRadio1">Sim</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions isInstrutor" id="inlineRadio2 isInstrutor_f" value="false" onclick="hideInstrutor()">
                                <label class="form-check-label" id="label-genero-F" for="inlineRadio2">Não</label>
                            </div>
                        </div>

                        <div class="form-group" id="instrutor_div">
                            <label for="instrutor">Instrutor</label>
                            <select class="form-control" id="instrutor" name="instrutor">
                                <option value="">Selecione</option>
                                <option th:each="i : ${instrutores}" th:text="${i.pessoa.nome}" th:value="${i.id}">...
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="faixa">Faixa</label>
                            <select class="form-control" id="faixa" name="faixa">
                                <option value="">Selecione</option>
                                <option th:each="f : ${faixas}" th:text="${f.nome}" th:value="${f.id}">...</option>
                            </select>
                        </div>

                        <div class="form-group" id="endereco_div">
                            <label for="instrutor">Endereco</label>
                            <select class="form-control" id="pais" name="pais" onchange="select('pais')">
                                <option value="">Selecione</option>
                                <option th:each="p : ${paises}" th:text="${p.nome}" th:value="${p.id}">...
                                </option>
                            </select>
                            <select class="form-control" id="estado" name="estado" onchange="select('estado')" hidden>
                                <option value="">Selecione</option>
                            </select>
                            <select class="form-control" id="cidade" name="cidade" onchange="select('cidade')" hidden>
                                <option value="">Selecione</option>
                            </select>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="senha">Senha</label>
                                <input class="form-control" id="senha" placeholder="••••" required="required"
                                       type="password">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="confi_senha">Confirmar senha<br></label>
                                <input class="form-control" id="confi_senha" placeholder="••••" required="required"
                                       type="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check"><input class="form-check-input" id="termos" type="checkbox"
                                                           value="on">
                                <label class="form-check-label" for="termos"> I Agree with <a href="#">Term and
                                    Conditions</a> of the service </label></div>
                        </div>
                        <button class="btn btn-primary" type="submit">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<script th:fragment="js" th:src="@{/js/register.js}"></script>

</body>

</html>