<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="usuario" type="com.control.ata.security.entity.Usuario"*/-->
<head>
</head>
<body>
<div class="corpo" layout:fragment="corpo">

    <div class="container">

        <div class="form-group">
            <label for="torneio">Torneio</label>
            <select class="form-control" id="torneio" name="instrutor">
                <option disabled selected value="">Selecione</option>
                <option th:each="t : ${torneios}"
                        th:text="${'Data inicio: ' + t.dataInicio + ' -/- Categoria: ' +t.categoriaTorneio.nome}"
                        th:value="${t.id}">...
                </option>
            </select>
        </div>

        <div id="table">
            <table class="table-bordered">
                <tr>
                    <th>Rodada</th>
                    <th>Genero</th>
                    <th>Idade</th>
                    <th>Nivel</th>
                    <th>Fechado</th>
                    <th>Juizes</th>
                    <th>Numero do ringue</th>
                    <th>Lugar na seguencia na rodada</th>
                    <th>Categorias</th>
                </tr>
            </table>
        </div>

    </div>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/relatorio_torneio.js}"></script>
</th:block>

</body>
</html>